<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Controller.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searching_servlet</servlet-name>
        <servlet-class>Controller.Searching_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consult_Users</servlet-name>
        <servlet-class>Controller.Consult_Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_User_Servlet</servlet-name>
        <servlet-class>Controller.Delete_User_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changing_Roles_Servlet</servlet-name>
        <servlet-class>Controller.Changing_Roles_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show_Users_Roles</servlet-name>
        <servlet-class>Controller.Show_Users_Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_New_User_Servlet</servlet-name>
        <servlet-class>Controller.Add_New_User_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_All_Users</servlet-name>
        <servlet-class>Controller.Load_All_Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllVehicles</servlet-name>
        <servlet-class>Controller.Load_All_Vehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Vehicles</servlet-name>
        <servlet-class>Controller.Load_Vehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changing_User_Servlet</servlet-name>
        <servlet-class>Controller.Changing_User_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_New_Vehicle_Servlet</servlet-name>
        <servlet-class>Controller.Add_New_Vehicle_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changing_Vehicle_Servlet</servlet-name>
        <servlet-class>Controller.Changing_Vehicle_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searching_Servlet_Vehicles</servlet-name>
        <servlet-class>Controller.Searching_Servlet_Vehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Vehicle_Servlet</servlet-name>
        <servlet-class>Controller.Delete_Vehicle_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consult_Routes</servlet-name>
        <servlet-class>Controller.Consult_Routes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searching_servlet</servlet-name>
        <url-pattern>/Searching_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consult_Users</servlet-name>
        <url-pattern>/Consult_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_User_Servlet</servlet-name>
        <url-pattern>/Delete_User_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changing_Roles_Servlet</servlet-name>
        <url-pattern>/Changing_Roles_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show_Users_Roles</servlet-name>
        <url-pattern>/Show_Users_Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_New_User_Servlet</servlet-name>
        <url-pattern>/Add_New_User_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_All_Users</servlet-name>
        <url-pattern>/Load_All_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllVehicles</servlet-name>
        <url-pattern>/LoadAllVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Vehicles</servlet-name>
        <url-pattern>/Load_Vehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changing_User_Servlet</servlet-name>
        <url-pattern>/Changing_User_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_New_Vehicle_Servlet</servlet-name>
        <url-pattern>/Add_New_Vehicle_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changing_Vehicle_Servlet</servlet-name>
        <url-pattern>/Changing_Vehicle_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searching_Servlet_Vehicles</servlet-name>
        <url-pattern>/Searching_Servlet_Vehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Vehicle_Servlet</servlet-name>
        <url-pattern>/Delete_Vehicle_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consult_Routes</servlet-name>
        <url-pattern>/Consult_Routes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
